<!-- Utilizamos 'ngSubmit' para enlazar el 'submit' del formulario con su función -->
<form 
[formGroup]="postForm" novalidate
(ngSubmit)="emitPostSubmitted()"
>
  <!-- Utilizamos 'formControlName' para enlazar los distintos campos del formulario
  con los controles definidos en ell FormGroup -->
 
  <input
    type="text"
    formControlName="title"
    placeholder="Título"
    class="u-full-width">

  <textarea
    formControlName="intro"
    placeholder="Introduce tu historia"
    class="u-full-width georgia-font"
    autogrow></textarea>

  <textarea
    formControlName="body"
    placeholder="Cuenta tu historia"
    class="u-full-width georgia-font"
    autogrow></textarea>

  <!-- Utilizamos 'disabled' junto con la funcion 'invalid' para deshabilitar el boton
  en el caso de que el formulario no este correctamente rellenado -->
  <button
    type="submit"
    [disabled]="postForm.invalid"
    class="button-primary u-pull-right">Publicar</button>

</form>
